/* Custom Properties */
:root {
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

/* hide */
.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Reset Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* responsive images */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Base Styles */
body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

/* common */
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

button {
  cursor: pointer;
}

/* header */
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.is-active {
  color: var(--ocean);
}

.is-active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: var(--ocean);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  padding: 16px 0;
}

.spanlogo {
  color: #2e2f42;
}

.nav-list, .addr-list {
  display: none;
}

   /* Address */
  .addr {
    font-style: normal;
  }
  
  .addr-link {
    display: block;
  }
  
  address ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  address ul li a:hover,
  address ul li a:focus,
  address ul li a:active {
    color: #404bbf;
  }

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

    /* Navigation */
    .container .navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      padding: 24px 0;
      margin-right: 120px;
    }
    
    .navigation .nav-list {
      display: flex;
      gap: 40px;
    }
    
    .nav-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #2e2f42;
      padding: 24px 0;
      display: block;
      position: relative;
    }
    .nav-link:hover,
    .nav-link:focus,
    .nav-link:active {
      color: #404bbf;
    }
    .addr,
    .addr-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  

}